*{
    margin: 0;
    padding: 0;
}
/* resets */
a{
    text-decoration: none;
    display: inline-block;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
}
li{
    list-style: none;
}
.hover:hover{
    color: #FF5300;
    
}
span{
    color:#FF5300;
}
/* utility class */
.flex{
    display: flex;
    
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden; 
    /* padding-inline: 20px; */

}
.background{
    background-color: #FFF7F4;
    
}
/* header css */
.header{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: grey;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav{
    gap: 40px;
}
.hover2:hover{
    background: #FF5300;
}
/* herosection css */
.socialicon{
    display: flex;
    flex-direction: column;
}
.herosection{
    justify-content: space-between;
    padding-top: 100px;
    align-items: center;
    /* max-width: 1440px;
    padding-left: 100px; */
     
}
.contentwrap{
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.contentwrap h1{
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;   
}
.contentwrap h6{
    
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  text-align: justify;

}
.contentwrap button{
    width: 130px;
    height: 40px;
    box-shadow: 4px 5px 15px 0px #FF530066;
    border: none;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    background: #FF5300;
    color: #FFF7F4;
}
/* aboutus section css */
.aboutus{
    margin-top: 120px;
    /* align-items: center; */
}
.contantwrap2{
    width: 35%;
    display: flex;
    flex-direction: column;
    row-gap: 20px; 
}
.contantwrap2 h6{
    
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
}
.contantwrap2 h2{
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;   
}
.contantwrap2 p{
    
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-align: justify;
}
.contantwrap2 button{
    width: 130px;
    height: 40px;
    box-shadow: 4px 5px 15px 0px #FF530066;
    border: none;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    background: #FF5300;
    color: #FFF7F4;
}
/* About us boxes css */
.aboutusboxes{
    width: 20%;
    border: 2px solid rgba(180, 174, 174,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 40px;
    
}
.aboutusbox{
    justify-content: space-evenly;
}
.aboutusboxes h6{
    
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 5px;

}
/* our experience css */
.contantwrap3{
    width: 38%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 40px;  
}
.contantwrap3 h6{
    
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
}
.contantwrap3 h2{
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;  
}
.contantwrap3 p{
    
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-align: justify;
}
.contantwrap3 button{
    width: 130px;
    height: 40px;
    box-shadow: 4px 5px 15px 0px #FF530066;
    border: none;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    background: #FF5300;
    color: #FFF7F4;
}
.experiencebox1{
    
    border: 2px solid rgba(180, 174, 174,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.ourexperience{
    column-gap: 40px;
    justify-content: center;
    margin-top: 90px;
}
.ourexperiencebox{
    width: 15%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 40px;
}
.ourexperiencebox2{
    width: 15%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 80px;
}

.experiencebox1 h1{
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  padding-top: 35px;
}
.experiencebox1 h5{
   
 font-family: Work Sans;
 font-size: 20px;
 font-weight: 500;
 line-height: 25px;
 letter-spacing: 0em;
 text-align: left;
 padding-bottom: 35px;
}
/* Team member section css */
.teammember{
    flex-direction: column;
    margin-top: 100px;
}
.teammemberprofile{
    display: flex;
    justify-content: center;
    padding: 20px;
    column-gap: 20px;
}
.teammember h6{
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}
.teammember h2{
    text-align: center;
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em; 
    padding: 20px 0; 
}
.teammemberprofile1{
   border: 1px solid rgb(168, 165, 165,0.2);
}
.teammemberprofile1 h5{
  
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px 0;   
}
.teammemberprofile1 h6{
    padding-bottom: 10px;
}
/* our work section css */
.ourwork{
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.ourwork h6{
    
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    
}
.ourwork h2{
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    width: 50%;
    padding-top: 10px;
    
}
.ourworksubsection{
    column-gap: 50px;
    padding: 20px 0;

}
.ourworksubsection p{
    
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;  
}
/* client feedback */
.clientfeedback{
    flex-direction: column;
    align-items: center;
   margin-top: 100px;
}
.clientfeedback h2{
    text-align: center;
}
.clientfeedbackboxes{
    display: flex;
    justify-content: center;
    column-gap: 100px;
    
}
.clientboxes{
    /* display: flex; */
    width: 35%;
    background: #FF5300;
    color: white;
    display: flex;
    /* column-gap: 5px; */
    align-items: start;
    
}
.clientboxes img{
    position: relative;
    left: -40px;
    top: 15px;
}
.profileposition h4{
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left; 
    padding-top: 20px; 
}
.profileposition h6{
    
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
}
.profileposition p{
  
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: justify;
    padding-top: 20px;
    
}
.clientfeedback .firstcleientheading{
    padding-top: 20px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    
}
.clientfeedback .firstcleientheading2{
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 30px;
    
}
.underdecoration{
    padding: 50px 0;
}
/* our blog section css */
.ourblog{
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    row-gap: 40px;
}
.ourblogmainheading{
    text-align: center;
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em; 
}
.ourblog>h6{
    
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: -23px;
    
}
.ourblogboxes{
    display: flex;
    justify-content: center;
    column-gap: 70px;
    
}
.ourblogbox1{
    display: flex;
    width: 35%;
    border: 2px solid rgb(168, 165, 165,0.2);
}


.ourbloguser{
    display: flex;
    column-gap: 15px;
}
.ourblogcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}
.aboutuserblog{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ourblogcontent>h6{
    
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF5300
    
}
.ourblogcontent>h4{
   
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    
}
/* contact us section css */
.contactus{
    flex-direction: column;
    align-items: center;
}
.contactusboxes{
    display: flex;
    margin-top: 30px;
    column-gap: 50px;
    
}
.contactusbox1{
   
    border: 2px solid rgba(205, 201, 201,0.2);
    
}
.mail{
    display: flex;
    padding-bottom: 20px;
    
}
.formimgcontent {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-top: 40px;
}
.contactus>h6{
    
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
}
.contactus>h2{
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    
   
    
}
.mailowner>h4{
    padding-right: 100px;
    padding-left: 10px;
        font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    
    
    
}
.mailowner1{
    padding-top: 10px;
}
.contactusbox1>h5{
    
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    padding-left: 20px;
    
}
.mailowner>h3{
    padding-left: 10px;
   
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    
}
.formsection>h3{
    font-family: Work Sans;
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    
}
input[type="text"]{
    padding: 5px;
    color: red;
}
input[type="email"]{
    padding: 5px;
}
input[type="tel"]{
    padding: 5px;
}
input{
    margin-top: 10px;
    
}
textarea{
    
    margin-top: 10px;
}
.contactus> button{
    width: 130px;
    height: 40px;
    box-shadow: 4px 5px 15px 0px #FF530066;
    border: none;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    background: #FF5300;
    color: #FFF7F4;
    border-radius: 5px;
    margin-top: 20px;
}
/* map section css */
.mapsection{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
/* gallary section css */
.gallary{
    justify-content: space-between;
    margin-top: 100px;
}
/* footer section css */
.footer{
    background-color: #373737;
    justify-content: center;
    column-gap: 40px;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 100px;
}
.digency{
    width:18%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    

}
.company{
    width: 18%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.service{
    width:18%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.newsletter{
    width: 19%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.digency>h2{
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 10px;
     
}
.company>h2{
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 10px;
     
}
.service>h2{
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 10px;
     
}
.newsletter>h2{
    font-family: Work Sans;
    font-size: 39px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 10px;
     
}
.digency>h6{
 
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    text-align: justify;
    
}
.company>h6{
   
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
}
.service>h6{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.newsletter>h6{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: justify;
    

}
.search{
    margin-top: 15px;
}
.sendplan{
    background-color: #FF5300;

    
    
    
}
.footerlink{
    margin-top: 15px;
}
.emailimginbuild{
    margin-top: 15px;
}
.copyright{
    background-color: #FF5300;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.copyrighgtimg{
    padding-left: 80px;
}
.lastimg{
    margin-right: 80px;
}
.copyright>p{
    margin-right: 600px;
}
.lastimg:hover{
    background-color: black;
}